/* Algemene reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  width: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.h-full {
  height: 100%;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.grid {
  display: grid;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.col-1 {
  grid-template-columns: 1fr;
}

.gap-16 {
  gap: 16px;
}
